.header-card{
  width: 100%;
  height: 300px;
  object-fit: cover;
}
.card-block{
  text-align: center;
  margin: 10px;
}
.card{
  background-color:#fcf9ff;

}
.name{
  font-size: 2em;
  padding:10px;
}
.card-columns{
  margin: 30px;
}
.img-fluid{
  width: 100%;
}
.booksRead{
  text-align: center;
  font-size: .8em;
  background-color: lightgrey;
  bottom: 0;
  margin-bottom: 0;
  padding: 10px;
}
