<div class="container">


<div class="member-list">
  <div class="card-deck">
    <div class="card" *ngFor = "let member of members | async">
      <img (click) = "showDetails(member)"class="card-img-top" src={{member.image}} alt="Thumbnail for member">
      <div class="card-block">
        <h4 class="card-title">{{member.name}}</h4>
        <p class="card-text description">{{member.description}}</p>

      </div>
            <p class="booksRead">Books Read: {{member.booksRead.length}}</p>
      <div *ngIf="currentRoute === '/admin'">

      </div>
    </div>

  </div>
</div>

</div>
